*{
    background: #222;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

.logo{
    padding-top: 40px;
    margin-left: 90px;
    width: 30px;
    
    
}

main{
    display: flex;  
    margin-bottom: 50px;
    margin-left: 300px;


}

.text-area{
    border: none;
    color: #c7c0b5;
    margin-top: 90px;
    text-transform: initial;
    font-size: 35px;
    
}

::placeholder {color: #c7c0b5;}
.text-area:focus {
    outline: none;
}

.informacion{
    color: #c7c0b5;
    font-size: 18px;
}



.mensaje{
    background: #282828;
    /*background-image: url(d:/PortafolioAlura/Img/Muñeco.png ) ;
    background-repeat: no-repeat;*/
    border: none;
    border-radius: 15px;
    color: #c7c0b5;
    margin-left: 90px;
    margin-top: 10px;
    padding-left: 20px;
    position: fixed;
    width: 400px;
    height: 700px;
    top: 28px;
    font-size: 25px;

}



.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;

}

.Encriptar0{

    background-color: #293133;
    border: 1px solid #293133;
    border-radius: 24px;
    color: #f8f8ff;
    cursor: pointer;
    height: 67px;
    width: 328px;
    text-align: center;
    font-size: 20px;
}

.Desencriptar0{
    background-color: #293133;
    border: 1px solid #293133;
    border-radius: 24px;
    color: #f8f8ff;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    text-align: center;
    font-size: 20px;

}

.copiar0{
   
    border: 1px solid #293133;
    border-radius: 24px;
    color: #f8f8ff;
    cursor: pointer;
    height: 67px;
    margin-left: 140px;
    margin-top: 540px;
    position: absolute;
    width: 328px;
    text-align: center;
    font-size: 20px;
    
}